body{
    max-width: 640px;
    min-width: 300px;
    height: auto;
    padding: 0;
    margin: 0 ;
    background-color: #fff;
    /* font-size: 10px; */
    color: #333;
}
ul{
    padding: 0;
    margin: 0px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

#head{
    width: 100%;
    height: 45px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #bbb;
    font-size: 18.6px;
}
#head a{
    width: 22px;
    height: 22px;
    position: absolute;
    margin-top:11px;
    margin-left: 12px; 
}
#head a img{
    width: 22px;
    height: 22px;
}
#head span{
    display: inline-block;
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    margin: 0 auto;
    color: #616161;
}

#method{
    width: 100%;
    height: 44px;
    border-bottom: 1px solid #d7d7d7;
    display: flex;
}
.meth{
    width: 50%;
    height: 44px;
    font-size: 15px;
}
.meth span{
    width: 105px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    display: inline-block;
    margin-left: 41px;
}
.meth_sss{
    border-bottom: red 2px solid;
}

#table{
    width: 100%;
    height: 100px;
    /* background-color: rebeccapurple; */
    margin-top: 3px;
}
#table_area{
    width: 335px;
    height: 100px;
    /* background-color: plum; */
    margin: 0 auto;
    overflow: hidden;
}
#table_zhanghao{
    width: 335px;
    height: 100px;
}
.table_line{
    border-bottom: 1px solid #d7d7d7;
    display: flex;
}
.table_lable{
    width: 60px;
    height: 48px;
    line-height: 48px;
    text-align: left;
    /* float: left; */
    font-size: 14px;
    display: inline-block;
    
}
.table_input1{
    width: 270px;
    height: 48px;
    display: inline-block;
    /* margin: -150px 5px 0px 63px; */
    border: none;
    font-size: 14px;
    padding: 0;
    /* color: #e7e6e6; */
}
.table_line img{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 30px;
    margin-top: 9px;
}
#table_yanzheng{
    width: 335px;
    height: 100px;
    /* display: flex; */
}
#table_line2{
    display: flex;
    border-bottom: solid 1px #d7d7d7;
}
#table_line2 label{
    display: inline-block;
    width: 58px;
    height: 48px;
    line-height: 48px;
    text-align: right;
    /* margin-right: 8px; */

}
#table_line2 input{
    width: 145px;
    height: 48px;
    padding: 0 0 0 18px;
    border:none;
}
#table_line2_btn{
    display: inline-block;
    width: 118px;
    height: 48px;
    /* border: #d7d7d7 1px solid; */
}
#table_line2_btn button{
    width: 110px;
    height: 23px;
    margin-top:12.5px;
    line-height: 23px;
    text-align: center;
    color: #848689;
    border: none;
    background-color: #fff;
    border-left: 1px solid #d7d7d7;
}
#table_line3{
    width: 335px;
    height: 48px;
    border-bottom: 1px solid #d7d7d7;
}
#table_line3 input{
    width: 335px;
    height: 45px;
    border: none;
    padding-left: 14px;

}


#butn{
    width: 335px;
    height: 45px;
    margin: 0 auto;
    margin-top: 25px;
    
}
#butn button{
    width: 100%;
    height: 100%;
    border: none;
    background-color: #EEEEEE;
}

#butn2{
    width: 335px;
    height: 45px;
    margin: 0 auto;
    margin-top: 8px;
}
#butn2 button{
    width: 100%;
    height: 100%;
    border: none;
    background-color: #fff;
    color: red;
    border: 1px red solid;
}

#fo{
    width: 335px;
    height: 15px;
    margin: 0 auto;
    margin-top: 25px;
    /* background-color: red; */
    display: flex;
    /* justify-content: space-between; */
}
#fo a{
    font-size: 12px;
    color: #333;
    float: bottom;
}
#fo_a1{
    position: absolute;
    margin-left: 20px;
}
#fo_a2{
    position: absolute;
    right: 25px;
}
#fo img{
    width: 23px;
    height: 23px;
}
#fo_img1{
    margin-left: -3px;
    margin-top: -3px;
}
#fo_img2{
    position: absolute;
    right: 98px;
    margin-top: -3px;
}

h4{
    font-size: 14px;
    color: #bfbfbf;
    margin-top: 100px;
    margin-left: 140px;
}

#quick a{
    width: 22px;
    height: 22px;
    

}
#quick a img{
    width: 22px;
    height: 22px;
    margin-top: 20px;
    margin-left: 170px;
}
p{
    font-size: 14px;
    color: #bbb;
}
a{
    text-decoration:black;
    color: #bbb;
}
